<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<!-- Bootstrap Core CSS -->
	<link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="{$basePath}/css/3-col-portfolio.css" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Databáze kosmonautů</title>
</head>

<body>

	<body>

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" n:href="Homepage:default">Databáze kosmonautů</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a n:href="Homepage:add">Přidat kosmonauta</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!-- Page Content -->
	<div class="container">
        {foreach $flashes as $flash}
			<div class="alert alert-success">
                {$flash->message}
			</div>
		{/foreach}
        {include content}

	</div>
		<!-- /.row -->

		<hr>

		<!-- Footer -->


	</div>
	<!-- /.container -->
	</body>
	{block scripts}
		<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
		<script src="{$basePath}/js/jquery.js"></script>
		<script src="{$basePath}/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script>
            $( function() {
                $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
            } );

		</script>
    {/block}
</body>
</html>
