
{block content}
	<h1>Databáze kosmonautů</h1>
	<table class="table">
		<thead>
		<tr>
			<th>#</th>
			<th>Jméno</th>
			<th>Příjmení</th>
			<th>Datum narození</th>
			<th>Superschopnost</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		{if $astronauts}
			<tr n:foreach="$astronauts as $item">
				<th scope="row">{$item->id}</th>
				<td>{$item->name}</td>
				<td>{$item->surname}</td>
				<td>{$item->birthday|date:'%d.%m.%Y'}</td>
				<td>{$item->superPower}</td>
				<td><a n:href="Homepage:edit, $item->id">Editovat</a> - <a n:href="Homepage:delete, $item->id">Smazat</a></td>
			</tr>
		{else}
			<tr>
				<td colspan="6" class="text-center">Bohužel není žádný kosmonaut v databázi.</td>
			</tr>
		{/if}


		</tbody>
	</table>
