<form class="form-horizontal" n:name="addAstronaut">
	<div class="ibox-content">
		<div class="alert alert-danger" n:if="$form->hasErrors()">
			{foreach $form->errors as $error}
				{$error}
			{/foreach}
		</div>
	</div>

	<div class="form-group"><label class="col-sm-2 control-label">{label name} <strong class="text-warning">*</strong></label>
		<div class="col-sm-10">
			<input type="text" n:name="name" class="form-control">
		</div>
	</div>

	<div class="form-group"><label class="col-sm-2 control-label">{label surname} <strong class="text-warning">*</strong></label>
		<div class="col-sm-10"><input type="text" n:name="surname" class="form-control"></div>
	</div>

	<div class="form-group"><label class="col-sm-2 control-label">{label birthday} <strong class="text-warning">*</strong></label>
		<div class="col-sm-10"><input type="text" id="datepicker" n:name="birthday" class="form-control"></div>
	</div>

	<div class="form-group"><label class="col-sm-2 control-label">{label superPower} <strong class="text-warning">*</strong></label>
		<div class="col-sm-10"><textarea n:name="superPower" class="form-control"></textarea></div>
	</div>

	<input type="hidden" n:name="astronautId" class="form-control">

	<div class="form-group">
		<div class="col-sm-4 col-sm-offset-2">
			<button class="btn btn-primary" n:name="send" type="submit">Odeslat</button>
		</div>
	</div>
</form>